src/uploads/amazing-grace.wav
src/uploads/g-major-chord.wav
src/uploads/let-it-be-2.wav
src/uploads/let-it-be.wav
src/uploads/logo.png
src/uploads/out.wav
src/uploads/The-Kinks-Lola-.mp3
src/__pycache__/analyzer.cpython-310.pyc
src/__pycache__/api.cpython-310.pyc
src/__pycache__/home.cpython-310.pyc
src/__pycache__/main.cpython-310.pyc
src/__pycache__/web.cpython-310.pyc
